.element__like {
  background-image: url(../../../images/Like.svg);
  background-color: transparent;
  border: none;
  margin: 0;
  height: 19px;
  width: 22px;
  cursor: pointer;
}

.element__like:hover {
  opacity: .5;
}

