.profile__group {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

@media screen and (max-width: 1024px) {
  .profile__group {
    flex-direction: column;
    align-items: center;
    gap: 26px;
  }
}
