.popup__input {
  font-family: 'Inter', Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  width: 100%;
  margin-bottom: 30px;
  background-image: url(../../../images/form-line.svg);
  background-repeat: repeat-x;
  background-color: transparent;
  background-position: bottom;
  border: none;
  padding: 0 0 13px 0;
}
