.popup__container {
  background: #fff;
  max-width: 430px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  position: relative;
}

@media screen and (max-width: 768px) {
  .popup__container {
    max-width: calc(100% - (19px * 2));
  }
}
