.header__logo {
  width: 142px;
  height: 33px;
  padding-bottom: 41px;
  display: flex;
}

@media screen and (max-width: 1024px) {
  .header__logo {
    width: 103.74px;
    height: 24.4px;
    padding-left: 27px;
    padding-bottom: 31.6px;
  }
}




