.header {
  margin: 45px auto 0 auto;
  max-width: 880px;
  background-image: url(../../images/Header-line.svg);
  background-repeat: no-repeat;
  background-position: bottom;
}

@media screen and (max-width: 1024px) {
  .header {
    gap: 31.6px;
    margin: 28px auto 0 auto;
  }
}
