.popup__form {
  padding-right: 36px;
  padding-left: 36px;
  margin-top: 54px;
}

@media screen and (max-width: 768px) {
  .popup__form {
    padding-right: 22px;
    padding-left: 22px;
    margin-top: 75px;
  }
}
