.element__tittle {
  font-family: Inter;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  letter-spacing: 0em;
  margin: 0;
  max-width: 196px;
  position: absolute;
  left: 21px;
  padding-top: 25px;
  color: #000;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
